<div class="container" @heroState>
    <mat-tab-group mat-align-tabs="end" animationDuration="0ms">
        <mat-tab label="Tabla Mapeo">
            <div class="container-tab-1  mat-elevation-z1">
                <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
                    <mat-tab label="Tabla Mapeo">
                        <div class="container-tab">
                            <app-modificacion></app-modificacion>
                        </div>
                    </mat-tab>
                    <mat-tab label="Nuevo Mapeo">
                        <div class="container-tab">
                            <app-nuevo-mapeo></app-nuevo-mapeo>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-tab>
        <mat-tab label="Procesos">

        </mat-tab>
        <mat-tab label="Reportes">

        </mat-tab>
        <mat-tab label="Alertas">

        </mat-tab>
    </mat-tab-group>
</div>