<div class="boxing-content">
    <h1>Dashboard</h1>
    <!-- ROW 1 -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <!-- Col 1 -->
        <div fxFlex="33">
            <div class="card card-ga" [routerLink]="['/home/migracion']" routerLinkActive="router-link-active">
                <h1>Garantía</h1>
                <p>Tribunales y Juzgados de Garantia</p>
                <div align="center" class="com-cont">
                    <h1 id="h1-comp">GA</h1>
                </div>
                <div class="indicador">
                    <table>
                        <tr>
                            <td><img src="assets/svg-icons/ley.svg" height="20" alt=""></td>
                            <td>5/152</td>
                            <td><img src="assets/svg-icons/salvar.svg" height="20" alt=""></td>
                            <td>45/322</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Col 2 -->
        <div fxFlex="33">
            <div class="card card-fam">
                <h1>Familia</h1>
                <p>Juzgados de Familia</p>
                <div align="center" class="com-cont">
                    <h1 id="h1-comp">FAM</h1>
                </div>
                <div class="indicador">
                    <table>
                        <tr>
                            <td><img src="assets/svg-icons/ley.svg" height="20" alt=""></td>
                            <td>5/152</td>
                            <td><img src="assets/svg-icons/salvar.svg" height="20" alt=""></td>
                            <td>45/322</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Col 3 -->
        <div fxFlex="33">
            <div class="card card-civ">
                <h1>Civil</h1>
                <p>Juzgados de Civiles</p>
                <div align="center" class="com-cont">
                    <h1 id="h1-comp">CIV</h1>
                </div>
                <div class="indicador">
                    <table>
                        <tr>
                            <td><img src="assets/svg-icons/ley.svg" height="20" alt=""></td>
                            <td>5/152</td>
                            <td><img src="assets/svg-icons/salvar.svg" height="20" alt=""></td>
                            <td>45/322</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW 2 -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <!-- Col 1 -->
        <div fxFlex="33">
            <div class="card card-lab">
                <h1>Laboral</h1>
                <p>Juzgados Laborales</p>
                <div align="center" class="com-cont">
                    <h1 id="h1-comp">LAB</h1>
                </div>
                <div class="indicador">
                    <table>
                        <tr>
                            <td><img src="assets/svg-icons/ley.svg" height="20" alt=""></td>
                            <td>5/152</td>
                            <td><img src="assets/svg-icons/salvar.svg" height="20" alt=""></td>
                            <td>45/322</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Col 2 -->
        <div fxFlex="33">
            <div class="card card-cob">
                <h1>Cobranza</h1>
                <p>Juzgados de Cobranza</p>
                <div align="center" class="com-cont">
                    <h1 id="h1-comp">COB</h1>
                </div>
                <div class="indicador">
                    <table>
                        <tr>
                            <td><img src="assets/svg-icons/ley.svg" height="20" alt=""></td>
                            <td>5/152</td>
                            <td><img src="assets/svg-icons/salvar.svg" height="20" alt=""></td>
                            <td>45/322</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Col 3 -->
        <div fxFlex="33">
            <div class="card card-ca">
                <h1>Corte Apelaciones</h1>
                <p>Corte de Aplecaciones</p>
                <div align="center" class="com-cont">
                    <h1 id="h1-comp">CA</h1>
                </div>
                <div class="indicador">
                    <table>
                        <tr>
                            <td><img src="assets/svg-icons/ley.svg" height="20" alt=""></td>
                            <td>5/152</td>
                            <td><img src="assets/svg-icons/salvar.svg" height="20" alt=""></td>
                            <td>45/322</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW 3 -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <!-- Col 1 -->
        <div fxFlex="33">
            <div class="card card-cs">
                <h1>Corte Suprema</h1>
                <p>Corte Suprema</p>
                <div align="center" class="com-cont">
                    <h1 id="h1-comp">CS</h1>
                </div>
                <div class="indicador">
                    <table>
                        <tr>
                            <td><img src="assets/svg-icons/ley.svg" height="20" alt=""></td>
                            <td>5/152</td>
                            <td><img src="assets/svg-icons/salvar.svg" height="20" alt=""></td>
                            <td>45/322</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Col 2 -->
        <div fxFlex="33">

        </div>
        <!-- Col 3 -->
        <div fxFlex="33">

        </div>
    </div>
</div>